<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="YmsDb" connectionString="metadata=res://*/App_Data.MySQL.csdl|res://*/App_Data.MySQL.ssdl|res://*/App_Data.MySQL.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1q2w3e4r;database=generalymsdb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>